.name_music {
    color: red;
    font-size: 30;
}

.artist {
    color: gold;
    font-size: 20;
}

.producer {
    color: gold;
    font-size: 20;
}

.lyrics {
    padding: 20px;
    margin: 10px;
}